var Comment = React.createClass({
  render: function() {
    return (
      <div className="comment">
        <a className="avatar">
          <%= image_tag 'toph.png', alt: 'facepic' %>
        </a>
        <div className="content">
          <a className="author">{this.props.user}</a>
          <div className="metadata">
            <span className="date"><%= Date.today %></span>
          </div>
          <div className="text">
            haha
          </div>
          <div className="actions">
            <div className="reply">
              Reply
            </div>
          </div>
        </div>
      </div>
    );
  }
});
