var Comments = React.createClass({
  render: function() {
    return (
      <div className="ui comments">
        <h3 className="ui dividing header">Comments</h3>
        <Comment />
        <CommentField />
      </div>
    );
  }
});
