<p id="notice"><%= notice %></p>

<div class="ui threaded comments">
  <%= react_component 'Comments', { data: @comments }, { prerender: true } %>
</div>

<%= link_to 'New Comment', new_comment_path %>
